<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<table>


Specify files to compare:
<form method="POST" action="/upload" enctype="multipart/form-data">
<table border="1" cellspacing="0" cellpadding="0">
<tr><td>
<table>
<tr><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
<tr><td>Select file 1</td><td><input type="file" name="file1"/></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
<tr><td>Select file 2</td><td><input type="file" name="file2"/></td><td></td><td><input type="submit" value="Compare" /></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
</table>
</td></tr>
</table>

</form>
</table>
</body>
</html>